:root {
    --preto-cinza: #0f0f0f;
    --cor_principal: #2179E6;
    --cor_contraste: #E6A020;
    --cor_secundaria: #3A2CE6;
}

body {
    background-color: var(--preto-cinza);
    padding: 5px;
    margin: 0px;
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid #22222a;
    height: 100px;
}

#logo {
    display: inline-block;
    width: 200px;
    margin: 10px;
}

#links {
    display: flex;
    background-color: var(--preto-cinza);
}

#links:active {
    visibility: initial;
}

strong {
    color: var(--cor_secundaria);
}

ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor_principal);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.nav {
    margin: 6px;
    padding: 6px;
    border: 1px solid var(--cor_secundaria);
    border-radius: 8px;
}

a:hover {
    background: var(--cor_secundaria);
    color: white;
    transition: background 0.5s;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 8px;
}

.abertura {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.aceno {
    display: inline-block;
    width: 4vw;
}

.mensagem-inicial {
    width: 80%;
    font-size: 4vw;
    margin-bottom: 0px;
}

.apresentacao {
    width: 80%;
    font-size: 2vw;
    text-align: justify;
}

.links-externos {
    display: inline-block;
    padding: 0px;
    border-radius: 50%;
}

.links-externos-completa {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.instagram,
.youtube,
.github {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor_principal);
    width: 4vw;
    height: 4vw;
    margin: 0px 5px 0px 5px;
}


.youtube-image,
.instagram-image,
.github-image {
    display: inline-block;
    width: 70%;
}



/* Small Screen */
@media screen and (max-width: 967px) {
    .mensagem-inicial {
        font-size: 7vw;
    }

    .apresentacao {
        font-size: 4vw;
    }

    .links-externos {
        width: 10vw;
        height: 10vw;
    }
}

/* Phone screen */
@media screen and (max-width : 725px) {
    #links {
        position: absolute;
        top: 100px;
        right: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 95vw;
        height: 100vh;
        padding: 0px;
        flex-direction: column;
        transform: translateX(100%);
    }

    a.nav {
        font-size: 25px;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .links-externos {
        width: 12vw;
        height: 12vw;
    }

    .mensagem-inicial {
        font-size: 10vw;
    }

    .apresentacao {
        font-size: 6vw;
    }
}