:root {
    --preto-cinza: #0f0f0f;
    --cor_principal: #2179E6;
    --cor_contraste: #E6A020;
    --cor_secundaria: #3A2CE6;
}

body {
    background-color: var(--preto-cinza);
    padding: 5px;
    margin: 0px;
    color: white;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid #22222a;
}

#logo {
    display: inline-block;
    width: 200px;
    margin: 10px;
}

#links {
    display: inline-block;
    top: auto;
}

strong{
    color: var(--cor_secundaria);
}
ul{
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor_principal);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 900;
}
a.nav{
    margin: 6px;
    padding: 6px;
    border: 1px solid var(--cor_secundaria);
    border-radius: 8px;
}

a:hover {
    background: var(--cor_secundaria);
    color: white;
    transition: background 0.5s;
}
.abertura{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aceno {
    display: inline-block;
    width: 4vw;
}

.mensagem-inicial {
    width: 80%;
    font-size: 4vw;
    margin-bottom: 0px;
}

.apresentacao {
    width: 80%;
    font-size: 2vw;
    text-align: justify;
}

.links-externos {
    display: inline-block;
    width: 3vw;
    height: 3vw;
    padding: 0px;
    border-radius: 50%;
}
.links-externos-completa{
    display: flex;
    flex-direction: row;
    width: 80%;
}

.instagram, .youtube, .github{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 3vw;
    height: 3vw;
    margin: 0px 5px 0px 5px;
}

.github-image {
    display: inline-block;
    width: 70%;
}

.youtube-image {
    display: inline-block;
    width: 70%;
}

.instagram-image {
    display: inline-block;
    width: 70%;
}

@media screen and (max-width : 660px){
    #links{
        visibility: hidden;
    }
    *>.abertura{
        display: block;
        width: 120%;
    }
}